{% extends 'main/base.html' %}

{% block title %}
  Create new list
{% endblock %}

{% block content %}
  <div style="text-align: center;"> <!-- Center the text -->
    <h3>Create new list</h3>
    <form method="post" action="/create_todo_list/" style="display: inline-block;"> <!-- Inline block to center the form -->
      {% csrf_token %} <!-- Needed for security -->
      {{ form.as_p }} <!-- as_table - default as_p - goes down as_ul - as dots -->
      <button type="submit" name="save">Submit</button>
    </form>
  </div>
{% endblock %}
