{% extends 'main/base.html' %}

{% block content %}
<style>
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers form elements horizontally */
    }

    .form-container input,
    .form-container label {
        margin-bottom: 10px; /* Adjust this value to change the space between elements */
    }

    .form-container button {
        margin-top: 20px; /* Space above the submit button */
    }
</style>

<div id="content" style="text-align: center;">
    <h1 style="font-weight: normal;">Edit Pomodoro Timer</h1>

    <form method="post" action="{% url 'edit_timer' timer.id %}" class="form-container" onsubmit="return validateInputs()">
        {% csrf_token %}

        <label for="timer_name">Name of timer</label>
        <input type="text" id="timer_name" name="name" placeholder="Name of timer" required value="{{timer.name}}">

        <label for="work_period">Work period (minutes)</label>
        <input type="number" id="work_period" name="work_period" placeholder="Work period" min="1" required value="{{timer.work_period}}">

        <label for="break_period">Break period (minutes)</label>
        <input type="number" id="break_period" name="break_period" placeholder="Break period" min="1" required value="{{timer.break_period}}">

        <label for="times_repeat">Sessions before Long Break</label>
        <input type="number" id="times_repeat" name="times_repeat" placeholder="Times to Repeat" min="1" required value="{{timer.times_repeat}}">

        <label for="times_repeat">Long Break (minutes)</label>
        <input type="number" id="long_break" name="long_break" placeholder="Long Break" min="1" required value="{{timer.long_break}}">


        <label>
            {% if timer.sound_on_work_end %}
                <input type="checkbox" name="sound_on_work_end" checked>
                Sound upon the end of work period?
            {% else %}
            <input type="checkbox" name="sound_on_work_end">
                Sound upon the end of work period?
            {% endif %}
        </label>

        <label>
            {% if timer.sound_on_break_end %}
                <input type="checkbox" name="sound_on_break_end" checked>
                Sound upon the end of break period?
            {% else %}
            <input type="checkbox" name="sound_on_break_end">
                Sound upon the end of break period?
            {% endif %}
        </label>

        <input type="hidden" id="date_created" name="date_created" value="{{date_created}}">
        <input type="hidden" id="current_state" name="current_state" value="inactive">
        <input type="hidden" id="breaks_until_long_break" name="breaks_until_long_break" value="-1">

        <button type="submit">Submit</button>
    </form>
</div>

<script>
    function validateInputs() {
        const workPeriod = document.querySelector('input[name="work_period"]').value;
        const breakPeriod = document.querySelector('input[name="break_period"]').value;

        if (workPeriod <= 0 || breakPeriod <= 0) {
            alert("Please enter positive numbers only.");
            return false; // Prevent form submission
        }
        return true; // Allow form submission if validation passes
    }
</script>

{% endblock %}
