{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<style>
    /* Center the content within the page */
    .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    .timer-display {
        font-size: 48px; /* Larger font for timer display */
        text-align: center;  /* Center the countdown text */
        margin: 20px 0;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        max-width: 800px;
        width: 100%;
    }

    h1 {
        font-weight: normal;
        margin-bottom: 20px;
        text-align: center;
    }

    .timer-card {
        background: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 15px;
        margin: 10px 0;
        width: 100%;
        max-width: 800px;  /* Set a max-width to prevent it from expanding too much */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .timer-card h3 {
        margin: 0 0 10px;
        text-align: center;
    }

    .timer-card p {
        margin: 5px 0;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Space between buttons */
    }

    .other-buttons {
        display: flex;
        flex-direction: column;
        gap: 5px; /* Space between other buttons */
        position: relative; /* Ensure this is positioned relative too */
        z-index: 0; /* Default z-index */
    }
</style>

<div class="content-wrapper">
    <h1>Current Timer</h1>
    <div class="timer-card">
        <h3>{{ timer }}</h3>
        {% if timer.current_state == "timer_running" or timer.current_state == "end_of_work_session" %}
            <h3>Work Period</h3>
            <h6 style="text-align: center;">Information about auto mode</h6>
        {% elif timer.current_state == "short_break_running" or timer.current_state == "end_of_short_break_session" %}
            <h3>Short Break</h3>
            <h6 style="text-align: center;">Information about auto mode</h6>
        {% elif timer.current_state == "long_break_running" or timer.current_state == "end_of_long_break_session" %}
            <h3>Long Break</h3>
        {% endif %}
        <div class="timer-display" id="timerDisplay"></div>

        <div class="button-container">
            <div class="other-buttons">
                {% if timer.current_state == "timer_running" %}
                    <button onclick="togglePause('pause')" id="pause">Pause</button>
                    <button onclick="startWorkSession('restart')">Restart Current Work Session</button>
                    <button onclick="startShortBreak('normal')">Start Short Break</button>
                    <button onclick="startLongBreak('normal')">Start Long Break</button>
                    <form action="{% url 'end_pomodoro' %}" method="post" onsubmit="return confirmEndPomodoro()">
                        {% csrf_token %}
                        <button type="submit" style="width: 300px">End Pomodoro</button>
                    </form>
                {% elif timer.current_state == "short_break_running" %}
                    <button onclick="togglePause('pause1')" id="pause1">Pause</button>
                    <button onclick="startWorkSession('normal')">End Break</button>
                    <button onclick="startShortBreak('restart')">Restart Break</button>
                    <button onclick="startLongBreak('normal')">Start Long Break</button>
                    <form action="{% url 'end_pomodoro' %}" method="post" onsubmit="return confirmEndPomodoro()">
                        {% csrf_token %}
                        <button type="submit" style="width: 300px">End Pomodoro</button>
                    </form>
                {% elif timer.current_state == "long_break_running" %}
                    <button onclick="togglePause('pause2')" id="pause2">Pause</button>
                    <button onclick="startWorkSession('reset_work_time_elapsed')">End Long Break</button>
                    <button onclick="startLongBreak('restart')">Restart Long Break</button>
                    <form action="{% url 'end_pomodoro' %}" method="post" onsubmit="return confirmEndPomodoro()">
                        {% csrf_token %}
                        <button type="submit" style="width: 300px">End Pomodoro</button>
                    </form>
                {% elif timer.current_state == "end_of_short_break_session" %}
                    <button onclick="startWorkSession('normal')">Start Work Session (recommended) </button>
                    <button onclick="startShortBreak('restart')">Redo Normal Break</button>
                    <button onclick="startLongBreak('normal')">Start Long Break</button>
                    <form action="{% url 'end_pomodoro' %}" method="post" onsubmit="return confirmEndPomodoro()">
                        {% csrf_token %}
                        <button type="submit" style="width: 300px">End Pomodoro</button>
                    </form>
                {% elif timer.current_state == "end_of_long_break_session" %}
                    <button onclick="startWorkSession('reset_work_time_elapsed')">Start Work Session (recommended) </button>
                    <button onclick="startShortBreak('normal')">Start Normal Break</button>
                    <button onclick="startLongBreak('restart')">Redo Long Break</button>
                    <form action="{% url 'end_pomodoro' %}" method="post" onsubmit="return confirmEndPomodoro()">
                        {% csrf_token %}
                        <button type="submit" style="width: 300px">End Pomodoro</button>
                    </form>
                {% endif %}
            </div>
        </div>

        <p>Work period: AUTO</p>
        <p>Break period: AUTO</p>
        <p>Sessions before Long Break: AUTO</p>
        <p>Long Break: AUTO</p>

        <p>{{ timer.sound_on_work_end|yesno:"Sound on end of work period,No sound on end of work period" }}</p>
        <p>{{ timer.sound_on_break_end|yesno:"Sound on end of break period,No sound on end of break period" }}</p>
        <p>Date Created: {{ timer.date_created|date:"m/d/Y" }}</p>

    </div>
</div>

<audio id="endSound" src="{% static 'sounds/alarm.mp3' %}" preload="auto" loop></audio>

<script>
    let period;
    var noTime = false;
    oldState = "{{ timer.current_state }}";
    switch (oldState) {
        case "timer_running":
            break;
        case "short_break_running":
            period = ({{ last_work_session_length }} / 5) / 60;
            break;
        case "long_break_running":
            period = ({{ work_time_elapsed }} * .3) / 60
            break;
        default:
            noTime = true;
            break;
    }

    if (period < 1) {
      period = Math.ceil(period);  // Round up if less than 1
    } else {
      period = Math.round(period);  // Round normally otherwise
    }
    let duration = period * 60; // Total duration in seconds

    let oldTime;  //used for pausing
    const timerDisplay = document.getElementById('timerDisplay');
    let countdownInterval; // Variable to hold the interval ID
    let remainingTime = getRemainingTime(); // Get remaining time from localStorage
    let lastStartTime = getLastStartTime(); // Retrieve the last start time from localStorage
    let isPaused = getIsPaused();
    let timePassed = getTimePassed()
    const timerEndedFlag = 'false'; // Key for localStorage to track timer state

    function checkButtonAndTimer() {
        const pauseButton = document.querySelector('#pause');
        const pauseButton1 = document.querySelector('#pause1');
        const pauseButton2 = document.querySelector('#pause2');

        if (
            (pauseButton && ( "{{timer.current_state}}" === "end_of_work_session" || "{{timer.current_state}}" === "end_of_long_work_session")) ||
            (pauseButton1 && "{{timer.current_state}}" === "end_of_short_break_session") ||
            (pauseButton2 && "{{timer.current_state}}" === "end_of_long_break_session")
        ) {
            window.location.reload();
        }
    }

    checkButtonAndTimer();


    // Function to save remaining time and last start time to localStorage
    function saveTimerState() {
        localStorage.setItem('remainingTime', remainingTime);
        localStorage.setItem('lastStartTime', Date.now());
        localStorage.setItem('isPaused', isPaused);
        localStorage.setItem('timePassed', timePassed);
    }

    // Function to retrieve remaining time from localStorage
    function getRemainingTime() {
        return parseInt(localStorage.getItem('remainingTime')) || duration;
    }

    // Function to retrieve last start time from localStorage
    function getLastStartTime() {
        return parseInt(localStorage.getItem('lastStartTime')) || Date.now();
    }

    function getTimePassed() {
        return parseInt(localStorage.getItem('timePassed')) || 0;
    }

    function getIsPaused() {
        const isPaused = localStorage.getItem('isPaused');
        return isPaused === 'true' ? true : false;
    }

    // Function to handle the start of the countdown
    function startCountdown(resumeTime=true) {
        if(noTime){
            window.location.reload();
        }

        timerDisplay.textContent = "Loading..."; // Display "Loading..." while the countdown initializes

        // Calculate the elapsed time since the last start

        var elapsed = 0
        if (resumeTime){
            elapsed = Math.floor((Date.now() - lastStartTime) / 1000);
        }
        else{
            isPaused = false;
        }

        remainingTime = Math.max(remainingTime - elapsed, 0);
        timePassed = timePassed + elapsed;
        if (remainingTime <= 0 && (oldState === "short_break_running" || oldState === "long_break_running")) {
            endTimer();
            return;
        }

        // Start the countdown interval
        countdownInterval = setInterval(updateCountdown, 1000);
    }

    // Function to update the countdown display
    function updateCountdown() {
        if(oldState === "short_break_running" || oldState === "long_break_running"){
            let minutes = parseInt(remainingTime / 60, 10);
            let seconds = parseInt(remainingTime % 60, 10);
            seconds = seconds < 10 ? "0" + seconds : seconds;
            timerDisplay.textContent = minutes + ":" + seconds;
            saveTimerState();

            // If timer is finished
            if (--remainingTime < 0) {
                clearInterval(countdownInterval);
                endTimer();
            }
        }
        else {
            let minutes = parseInt(timePassed / 60, 10);
            let seconds = parseInt(timePassed % 60, 10);
            seconds = seconds < 10 ? "0" + seconds : seconds;
            timerDisplay.textContent = minutes + ":" + seconds;
            timePassed++;
            saveTimerState();
        }
    }



    // Function to clear stored timer data
    function clearStoredTimerData() {
        localStorage.removeItem('remainingTime');
        localStorage.removeItem('lastStartTime');
        localStorage.removeItem('timePassed');
    }

    // Function to change the timer state to "end_of_work_session"
    function changeTimerState(newState) {
        fetch("{% url 'update_timer_state' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}", // Include CSRF token for security
            },
            body: JSON.stringify({ state: newState })
        })
        .then(response => response.json())
        .then(data => {
            // You can add additional logic here if needed
        })
        .catch(error => {
            window.location.reload();
        });
    }

// Function to end the timer
function endTimer() {
    breaks = {{breaks_until_long_break}}
    clearInterval(countdownInterval);
    timerDisplay.textContent = "Time's up!";
    clearStoredTimerData();

    let newState;

    switch (oldState) {
        case "timer_running":
            newState = "end_of_work_session"
            break
        case "short_break_running":
            newState = "end_of_short_break_session"
            break;
        case "long_break_running":
            newState = "end_of_long_break_session"
            break;
        default:
            break
    }
    if (breaks === 0 && newState === "end_of_work_session"){  // probably don't need to check current newState
        newState = "end_of_long_work_session"
    }

    changeTimerState(newState); // Change the timer state
    localStorage.setItem(timerEndedFlag, 'true'); // Set timer ended flag

    window.location.reload();
}

// Function to play sound
const endSound = document.getElementById('endSound');
function playEndSound() {
    let soundOnWorkEnd;
    if (oldState === "end_of_work_session"){
        soundOnWorkEnd = {{ timer.sound_on_work_end|yesno:"true,false" }};
    }
    else{
        soundOnWorkEnd = {{ timer.sound_on_break_end|yesno:"true,false" }};
    }

    if (soundOnWorkEnd) {
        endSound.play();
    }
}

// Function to check timer state on page load
function checkTimerState() {
    const timerEnded = localStorage.getItem(timerEndedFlag);
    if (timerEnded === 'true') {
        timerDisplay.textContent = "Time's up!"; // Display time's up if timer ended
        playEndSound(); // Play sound after reloading
    } else {
        startCountdown(!isPaused); // Start countdown if timer hasn't ended
    }
}

function confirmEndPomodoro() {
    return confirm('Are you sure that you want to end this pomodoro?');
}

function startShortBreak(mode) {
    localStorage.clear();
    localStorage.setItem(timerEndedFlag, 'false'); // Set timer ended flag
    changeTimerState("short_break_running")

    if(mode === "normal"){
        updateValue("/update_last_work_session_length/", timePassed);
        updateValue("/update_work_time_elapsed/", {{work_time_elapsed}} + timePassed);
    }

    window.location.reload();
}

function startLongBreak(mode){
    // breaks = {{timer.times_repeat}}
    localStorage.clear();
    localStorage.setItem(timerEndedFlag, 'false'); // Set timer ended flag
    changeTimerState("long_break_running")
    // updateValue('update-breaks/', breaks);
    if(mode === "normal"){
        updateValue("/update_last_work_session_length/", timePassed);
        updateValue("/update_work_time_elapsed/", {{work_time_elapsed}} + timePassed);
    }
    window.location.reload();
}

function startWorkSession(mode) {
    // var new_value = {{breaks_until_long_break}} - 1;
    localStorage.clear();
    localStorage.setItem(timerEndedFlag, 'false'); // Set timer ended flag
    changeTimerState("timer_running");
    if (mode === "reset_work_time_elapsed"){
        // updateValue("/update_last_work_session_length/", 0); prob not needed
        updateValue("/update_work_time_elapsed/", 0);
    }
    /*
    if (mode === "normal"){
        updateValue('update-breaks/', new_value);  // Example value for breaks_until_long_break
    }
    */
    window.location.reload();
}

// Function to send the value to the backend
function updateValue(url, newValue) {
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': csrftoken  // CSRF token for security in Django
        },
        body: `new_value=${newValue}`
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
        } else {
        }
    });
}

// let isPaused = false; // Flag to track if the timer is paused
function togglePause(id) {
    if (isPaused) {
        startCountdown(false);
        document.getElementById(id).textContent = "Pause";
        isPaused = false;
    } else {
        oldTime = Date.now();
        clearInterval(countdownInterval);  // Stop the interval
        document.getElementById(id).textContent = "Resume";
        isPaused = true;
        saveTimerState();     // Save the remaining time when paused
    }
}

// Start the countdown when the page loads
window.onload = function(mode) {
    checkTimerState(); // Check timer state on load
};

</script>


{% endblock %}