{% extends "main/base.html" %}
{% block title %}View List{% endblock %}

{% block content %}
<button style="width: 120px; height: 50px; padding: 2px 5px; font-size: 18px;" onclick="window.location.href='{% url 'todo' %}'">Back</button>
<div style="text-align: center;">
    <h1>{{ ls.name }}</h1>
    <form method="post" action="#">
        {% csrf_token %}
        <ul>
            {% for item in ls.item_set.all %}
                <li>
                    <input type="checkbox" value="clicked" name="c{{ item.id }}" {% if item.complete %}checked{% endif %}>
                    {{ item.text }}
                </li>
            {% endfor %}
        </ul>
        <input type="text" name="new">
        <button type="submit" name="newItem" value="newItem">Add Item</button>
        <button type="submit" name="save" value="save">Save</button>
    </form>
</div>
{% endblock %}
